In [1]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm
tqdm.pandas()

In [2]:
DATA_PATH = './data/'
DB_PATH = './db/'

yelp_restaurants = pd.read_json(DATA_PATH+'yelp_restaurants.json')
yelp_user = pd.read_json(DATA_PATH+'yelp_user.json')
yelp_review = pd.read_json(DATA_PATH+'yelp_review.json')

In [5]:
# Création des noeuds user

users_csv = yelp_user[["user_id","name","review_count","friends","fans"]]  
users_csv.to_csv(DB_PATH+'users.csv')

# Création des relations friends

friend_relationships_csv = pd.DataFrame(columns = ["user_id","friend_id"])

for i in tqdm(users_csv.index):
    row = users_csv.iloc[i]
    user_id = row['user_id']
    friends = row["friends"]
    relationships = []
    columns = ["user_id","friend_id"]
    for friend_id in friends:
        relationships.append([user_id,friend_id])
    
    df_to_concat = pd.DataFrame(data=relationships,columns=columns)
    friend_relationships_csv = pd.concat([friend_relationships_csv,df_to_concat])

friend_relationships_csv.to_csv(DB_PATH+'friend_relationships.csv')

# Création des noeuds review

reviews_csv = yelp_review[["review_id","stars","useful","cool"]]  
reviews_csv.to_csv(DB_PATH+'reviews.csv')

# Création des relations reviewed

reviewed_relationships_csv = pd.DataFrame(columns=["user_id","review_id"])

for i in tqdm(yelp_review.index):
    row = yelp_review.iloc[i]
    review_id = row["review_id"]
    user_id = row["user_id"]
    df_to_concat = pd.DataFrame(data=[[user_id, review_id]], columns=["user_id", "review_id"])
    
    reviewed_relationships_csv = pd.concat([reviewed_relationships_csv,df_to_concat])

reviewed_relationships_csv.to_csv(DB_PATH+'reviewed_relationships.csv')

100%|███████████████████████████████████████████████████████████████████████████| 23082/23082 [01:22<00:00, 279.68it/s]
100%|███████████████████████████████████████████████████████████████████████████| 49150/49150 [02:44<00:00, 298.87it/s]

In [15]:
revRest_relationships_csv = pd.DataFrame(columns = ["review_id","restaurant_id"])

for i in tqdm(yelp_review.index):
    row = yelp_review.iloc[i]
    review_id = row["review_id"]
    restaurant_id = row["business_id"]
    df_to_concat = pd.DataFrame(data=[[review_id, restaurant_id]], columns=["review_id", "restaurant_id"])
    
    revRest_relationships_csv = pd.concat([revRest_relationships_csv,df_to_concat])

revRest_relationships_csv

100%|███████████████████████████████████████████████████████████████████████████| 49150/49150 [02:43<00:00, 301.34it/s]

                 review_id           restaurant_id
0   2xlNGuN8naQTHO3_xY0lGw  yDiWYpuzRxcTgSi_O4JZpQ
0   _Dkml_CfMMb_wWeGpFtczg  W6S482dRQ_9nCcLjfv8VNg
0   EmLTCw2p9BhOwnzHFXgGaQ  OlOVRlcEstxKK_6hMjy63A
0   PlYifdeyiixRZkymbUNqVQ  DAcqRGI_u8yNCcUIczfNxA
0   PtUd264rjqWuEzL89nf64w  5IFqqWJTaPNoY2ZgRlX73w
..                     ...                     ...
0   nWGqiW9gSFeb4jFTw2_guA  tILA8ctsD_OZIcM2IfSyQA
0   hK_2Z2XFGz7H3Mdl-t0Ubg  riwJWxj4850tGBhRahDt7g
0   nz-OnQGnVIyy-gs7xVSJZQ  YNWEM2NVocUl6d74yRvpug
0   XPrmT_RGh3t7uq9NYhcG7g  iWFK7U-wBR-68X0VFrSkNA
0   tqKl99S3x2p6cNWmekW3MA  tILA8ctsD_OZIcM2IfSyQA

[49150 rows x 2 columns]

In [ ]:
revRest_relations