In [5]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm
tqdm.pandas()

In [36]:
DATA_PATH = './data/'
DB_PATH = './db/'

yelp_restaurants = pd.read_json(DATA_PATH+'yelp_restaurants.json')
yelp_user = pd.read_json(DATA_PATH+'yelp_user.json')
yelp_review = pd.read_json(DATA_PATH+'yelp_review.json')

In [66]:
# Création des noeuds user

users_csv = yelp_user[["user_id","name","review_count","friends","fans"]]  
users_csv.to_csv(DB_PATH+'users.csv')
print(user_csv.shape)
users_csv.head()

(23082, 7)

,user_id,name,review_count,friends,fans
0,XLs_PhrJ7Qwn_RfgMM7Djw,Weili,90,[],1
1,IpLRJY4CP3fXtlEd8Y4GFQ,Robyn,518,"[y3Wtx1pOvTiqsJRkjceXiw, _BcWyKQL16ndpBdggh2kN...",35
2,0juMoWXC7z4c7LgQP2s3sA,JR,199,"[46Wi08T5D3phf3SMgi7U3w, HUxktqjf5kJm0tIHTCCws...",9
3,FlhZYUEhfpfm0Ynxacftwg,Kate,94,"[UiRx8jyS6H957ItwFsP2nQ, Oi1qbcz2m2SnwUeztGYcn...",6
4,PadmV2GEoA6mWpQUpPh7Ig,Monica,695,"[hHoigAK81AtqSUtBmkqWjg, wZPizeBxMAyOSl0M0zuCjg]",104

In [59]:
# Création des relations friends

friend_relationships_csv = pd.DataFrame(columns = ["user_id","friend_id"])

for i in tqdm(user_csv.index):
    row = user_csv.iloc[i]
    user_id = row['user_id']
    friends = row["friends"]
    relationships = []
    columns = ["user_id","friend_id"]
    for friend_id in friends:
        relationships.append([user_id,friend_id])
    
    df_to_concat = pd.DataFrame(data=relationships,columns=columns)
    friend_relationships_csv = pd.concat([friend_relationships_csv,df_to_concat])

print(friend_relationships_csv.shape)
friend_relationships_csv.to_csv(DB_PATH+'friend_relationships_csv')
friend_relationships_csv.head()

100%|███████████████████████████████████████████████████████████████████████████| 23082/23082 [00:47<00:00, 487.98it/s]

(42776, 2)

                  user_id               friend_id
0  IpLRJY4CP3fXtlEd8Y4GFQ  y3Wtx1pOvTiqsJRkjceXiw
1  IpLRJY4CP3fXtlEd8Y4GFQ  _BcWyKQL16ndpBdggh2kNA
2  IpLRJY4CP3fXtlEd8Y4GFQ  lRRuTimITgwzoXLIM3g9qw
3  IpLRJY4CP3fXtlEd8Y4GFQ  z02XKjGqJMONH59_lUHlTQ
4  IpLRJY4CP3fXtlEd8Y4GFQ  47K1MpOBhigOvjuBcDbm7Q

In [64]:
yelp_review

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,2xlNGuN8naQTHO3_xY0lGw,8rrmvJ7W3ujplXuOhjE2Hg,yDiWYpuzRxcTgSi_O4JZpQ,5,0,0,0,This is the place for authentic Indian street ...,2017-03-27 13:27:52
1,_Dkml_CfMMb_wWeGpFtczg,TRFTDMJegE6DituEKBpEKQ,W6S482dRQ_9nCcLjfv8VNg,1,0,0,0,Food was great. But very disappointed with the...,2016-07-04 04:17:15
2,EmLTCw2p9BhOwnzHFXgGaQ,glO-c9FC0RaY2GyiamCQFA,OlOVRlcEstxKK_6hMjy63A,3,0,0,0,"One of the few diners in North Wilmington, and...",2014-08-25 03:05:45
3,PlYifdeyiixRZkymbUNqVQ,cFaHx-FkCnzdfF8BccukIg,DAcqRGI_u8yNCcUIczfNxA,5,1,0,0,"Yeah, I know what you're thinking. One Wawa st...",2013-12-07 01:28:16
4,PtUd264rjqWuEzL89nf64w,hefsTMvc-iSBsY_Nfa8WCg,5IFqqWJTaPNoY2ZgRlX73w,5,0,0,0,My boyfriend and I have lived in trolley squar...,2015-05-26 20:32:51
...,...,...,...,...,...,...,...,...,...
49145,nWGqiW9gSFeb4jFTw2_guA,508Y2A3yYQOyGaMDUYFXQQ,tILA8ctsD_OZIcM2IfSyQA,4,0,0,0,Take out on a Saturday night around 9pm. Staff...,2021-01-10 05:30:16
49146,hK_2Z2XFGz7H3Mdl-t0Ubg,Eviotci6ld8KT8QmjfW2tw,riwJWxj4850tGBhRahDt7g,4,2,0,0,I loved the atmosphere! Clean place and good s...,2021-10-26 15:40:01
49147,nz-OnQGnVIyy-gs7xVSJZQ,NBKyKmBWssn8Weq-H-sCRQ,YNWEM2NVocUl6d74yRvpug,5,0,0,0,"We get takeout here pretty regularly, and have...",2019-02-11 20:39:07
49148,XPrmT_RGh3t7uq9NYhcG7g,UP9dlqXxqJ2o5nfN--Fn2Q,iWFK7U-wBR-68X0VFrSkNA,5,0,1,0,Mia and her staff did an AMAZING job on my dau...,2021-08-07 19:51:57
49149,tqKl99S3x2p6cNWmekW3MA,FWluTtPmCfLbwneNlbUCig,tILA8ctsD_OZIcM2IfSyQA,5,1,0,0,"Originally gave this a 4 star, but I knew I wo...",2020-03-26 19:11:14

In [67]:
# Création des noeuds review

reviews_csv = yelp_review[["review_id","stars","useful","cool"]]  
reviews_csv.to_csv(DB_PATH+'reviews.csv')
print(reviews_csv.shape)
reviews_csv.head()

(49150, 4)

                review_id  stars  useful  cool
0  2xlNGuN8naQTHO3_xY0lGw      5       0     0
1  _Dkml_CfMMb_wWeGpFtczg      1       0     0
2  EmLTCw2p9BhOwnzHFXgGaQ      3       0     0
3  PlYifdeyiixRZkymbUNqVQ      5       1     0
4  PtUd264rjqWuEzL89nf64w      5       0     0

In [73]:
# Création des relations reviewed

reviewed_relationships_csv = pd.DataFrame(columns=["user_id","review_id"])

for i in tqdm(yelp_review.index):
    row = yelp_review.iloc[i]
    review_id = row["review_id"]
    user_id = row["user_id"]
    df_to_concat = pd.DataFrame(data=[[user_id, review_id]], columns=["user_id", "review_id"])
    
    reviewed_relationships_csv = pd.concat([reviewed_relationships_csv,df_to_concat])

print(reviewed_relationships_csv.shape)
reviewed_relationships_csv.to_csv(DB_PATH+'reviewed_relationships_csv')
reviewed_relationships_csv.head()

100%|███████████████████████████████████████████████████████████████████████████| 49150/49150 [02:03<00:00, 399.36it/s]

(49150, 2)

                  user_id               review_id
0  8rrmvJ7W3ujplXuOhjE2Hg  2xlNGuN8naQTHO3_xY0lGw
0  TRFTDMJegE6DituEKBpEKQ  _Dkml_CfMMb_wWeGpFtczg
0  glO-c9FC0RaY2GyiamCQFA  EmLTCw2p9BhOwnzHFXgGaQ
0  cFaHx-FkCnzdfF8BccukIg  PlYifdeyiixRZkymbUNqVQ
0  hefsTMvc-iSBsY_Nfa8WCg  PtUd264rjqWuEzL89nf64w